p{
    color:rgb(32, 129, 124);
}

body{
    background-color: rgb(122, 255, 188);
}

.header_div{
    background-color:rgb(122, 255, 188);
}

#heading{
    color:rgb(32, 129, 124);
}

#start-button{
    color: white;
    background-color:rgb(32, 129, 124) ;
    width: 100px;
    height: fit-content;
}